
/* Your CSS Code here. */
div{
	width:200px;
	background-color:purple;
	text-decoration:underline;
	color:white;
	font-size:20px;
	padding:10px;
	border-left-width: 5px;
	border-left-color:green;
	border-left-style: solid;
	
}