
/* Your CSS Code here. */
.container{
	width:200px;
	background-color:purple;
	text-decoration:underline;
	color:white;
	text-font:20px;
	padding:5px;
	border-width:0px 0px 0px 5px;
	border-color: 0 0 0 green;
	
}